<!-- mis_citas.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mis Citas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesCita.css' %}">

</head>
<body>
    <div class="navbar">
        <h1>Mis Citas</h1>
        <a href="{% url 'home' %}">Volver al inicio</a>
    </div>
    
    <div class="container">
        {% if mensaje %}
            <p>{{ mensaje }}</p>
        {% else %}
            <h2>Estas son tus citas reservadas:</h2>
            {% for cita in citas %}
                <div class="cita">
                    <h2>Doctor: {{ cita.doctor.name }}</h2>
                    <p>Especialidad: {{ cita.doctor.especialidad }}</p>
                    <p>Cliente: {{ cita.nombre_cliente }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
